.box {
    background-color: #00011c; /*#010013 , 00011e , 00011a , 00011d , 000118*/
    color: #fff;
    font-family: roboto;
/* f3d599 e8d89d f3d8a1 f4d5a6 a59875 cor das letras*/

}

.cxBurger{
    display: none;
}


.menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
  }

.menu-burger span {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
}

.menu {
    background-color: #00011c;
    display: flex;
    margin: auto;
    max-width: 1200px;
    align-items: center;
    justify-content: space-around;
    
}

.lateral {
    display: none;
    color: #e8d89d;
}

.menu_link {
    text-decoration: none;
    color: #fff;
}

.menu img {
    height: 150px; 
}


.menu_caixa {
    height: 100%;
    font-weight: 500;
    cursor: pointer;
    
}

.menu_link:hover {
    color: #e8d89d;
    border-bottom: 2px solid;
    padding-bottom: 3px;
    margin-bottom: -5px;
/* f3d599 e8d89d f3d8a1 f4d5a6 a59875 cor das letras*/

    
} 

@media (max-width: 768px){
    .menu_caixa {
        display: none;
    }
    
    .menu_link {
        display: inline-block;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
        width: 75%;
        text-align: center;
    }

    .menu_link:hover {
        border-bottom: 2px solid;
        padding: 0 0 25px 0;
        margin: 0;   

    }    

    .lateral {
        display: flex; /*mudar flex*/
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 65%;
        height: 50%;
        position: absolute;
        background-color: #12121b;
        top: 150;
        left: 0;
        z-index: 1;
    }

    .toggle {
        display: none;
    }
    
    .cxBurger{
        display: block;
        padding-left: 20px;
    }  
    
    .box {
        display: flex;
        align-items: center;
        
    }
    
}

@media (max-width: 480px){
    .menu img {
        height: 100px; 
    }
    .cxBurger{
        display: block;
        padding-left: 20px;
    }
    
    .menu_link {
        padding-bottom: 25px;
    }

    .lateral {
        top: 100;
        
    }

}
